.input-custom {
  text-align: center;
  margin-top: 4rem;
}

input[type='number'] {
  width: 40px;
  height: 20px;
}

input[type='number']:focus {
  outline: none;
}

.board {
  display: flex;
  margin-top: 5rem;
}

.game {
  flex: 10;
}

.information {
  height: 160px;
  flex: 2;
  border: 1px solid #e3e3e3;
  text-align: center;
}

.btn {
  height: 25px;
  background: #fff;
  border: 1px solid #333;
  cursor: pointer;
  margin-left: 1px;
}

.btn:hover {
  background: #e3e3e3;
}

.btn:focus {
  outline: none;
}
